<div class="good_pad">
  <h1 class="title_booking">Mes réservations</h1>
</div>

<div class="pad_good">
  <div class="cards-container">
    <% @bookings.each do |booking| %>
      <div class="instrument-card">
        <div class="card-image">
          <%= cl_image_tag(booking.instrument.photos.first.key, crop: "scale", class: "card-img") %>
        </div>

        <div class="card-info">
          <h2 class="card-title"><%= booking.instrument.title %></h2>
          <p class="card-location"><%= booking.user.address %></p>
          <p><strong>Début de location:</strong> <%= booking.start_date %></p>
          <p><strong>Fin de location:</strong> <%= booking.end_date %></p>
          <p class="card-price"><%= booking.instrument.price_per_day %>€/jour</p>
          <p>Total: <%= (booking.instrument.price_per_day * 3) + 100 %>€/total</p>
        </div>

        <!-- Feedback Section -->
        <div class="feedback_section" data-controller="toggle-form">
          <% feedback = Feedback.find_by(user_id: current_user.id, booking_id: booking.id) %>

          <% if feedback.present? %>
            <!-- affichage de l'avis si y'en a un -->
            <div class="feedback">
              <p><strong>Votre avis:</strong></p>
              <p>Note: <%= feedback.rating %> / 5</p>
              <p>Commentaire: <%= feedback.comment %></p>
            </div>
          <% else %>
            <% if booking.end_date < Date.today %>
              <!-- peut laisser un avis -->
              <div class="no-feedback">
                <p>Vous n'avez pas encore laissé d'avis pour cette réservation.</p>
                <button class="btn btn-primary" data-action="click->toggle-form#toggle" data-target="form-<%= booking.id %>">Laisser un avis</button>
              </div>

              <!-- formulaire caché -->
              <div id="form-<%= booking.id %>" class="feedback-form" style="display: none;">
                <%= form_with model: Feedback.new, url: booking_feedbacks_path(booking), local: true do |f| %>
                  <div class="form-group">
                    <%= f.label :rating, "Note (0-5)" %>
                    <%= f.number_field :rating, min: 0, max: 5, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :comment, "Votre commentaire" %>
                    <%= f.text_area :comment, class: "form-control" %>
                  </div>

                  <%= f.submit "Envoyer l'avis", class: "btn btn-success mt-3" %>
                <% end %>
              </div>
            <% else %>
              <!-- Message indiquant que la location n'est pas finie -->
              <div class="no-feedback">
                <p>Vous ne pouvez pas laisser d'avis tant que la période de location n’est pas terminée.</p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
