<div class="instruments-gallery">
  <div class="cards-container">
    <% instruments.each do |instrument| %>
      <div class="card-wrapper">
        <div class="instrument-card position-relative">
          <%= link_to instrument_path(instrument), class: "card-link" do %>
            <div class="card-image">
              <%= cl_image_tag(instrument.photos.first.key, crop: "scale") %>
              <% if instrument.created_at > 1.day.ago %>
                <div class="badge-new">Nouveau</div>
              <% end %>
            </div>
            <div class="card-info">
              <h5 class="card-title"><%= instrument.title %></h5>
              <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= instrument.user.address %></p>
              <div class="card-price"><%= instrument.price_per_day %>€</div>
            </div>
          <% end %>
          <div class="sound-icon" data-controller="sound"
               data-sound-url-value="<%= audio_path(instrument.category.sound_file) %>">
            <i class="fa-solid fa-music" data-action="click->sound#play"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
