<div class="amazing scaleDown">
  <div class="row g-4 p-5">
    <% instruments.each do |instrument| %>
      <div class="col-6 col-sm-4">
        <%= link_to instrument_path(instrument) do%>
          <div class="card special_2" style="height: 100%;">
            <%= cl_image_tag(instrument.photos.sample.key,
            height: 300, crop: "scale", class: :special) %>
            <div class="card-body">
              <h5 class="card-title"><%= instrument.title %></h5>
              <p class="card-text "><%= instrument.user.address %></p>
              <h3 class="card-title"><%= instrument.price_per_day %>€</h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
