
<div class="container mt-4">
    <!--Images -->
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="border p-5 text-center">
              <%= cl_image_tag(@instrument.photos.first.key, width: 600, height: 360, crop: "scale") %>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-wrap">
            <div class="border p-3 m-0">
              <%= cl_image_tag(@instrument.photos.first.key,
              width: 260, height: 170, crop: "scale") %>
            </div>
            <div class="border p-3 m-0">
              <%= cl_image_tag(@instrument.photos.first.key,
              width: 260, height: 170, crop: "scale") %>
            </div>
            <div class="border p-3 m-0">
              <%= cl_image_tag(@instrument.photos.first.key,
              width: 260, height: 170, crop: "scale") %>
            </div>
            <div class="border p-3 m-0">
              <%= cl_image_tag(@instrument.photos.first.key,
              width: 260, height: 170, crop: "scale") %>
            </div>
        </div>
    </div>
    <!-- Calendrier et reservation -->
    <!-- descrition et info proprio -->
    <div class="border mt-4 p-4">
        <div class="row">
            <div class="col-md-3 border p-3">Avatar <br> Name</div>
            <div class="col-md-9">
                <h5 class="mb-4">Description</h5><%=@instrument.description %>

            </div>
        </div>
    </div>
    <!-- notes -->
